.footer {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    align-items: center; 
    min-height: 4rem;
    padding: 20px;
}

.text {
    position: absolute;
    right: 0;   
}

.parent {
    margin-top: auto;
}

@media only screen and (max-width: 480px) {
    .text2 {
        display: none;
    }
  }