.App {
  text-align: center;
  align-items: center;
  justify-content: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 69vh;
}
